* {
  font-family: Avenir Next;
  --green-blue: #64a6bd;
  --blue: #90a8c3;
  --purple: #ada7c9;
  --pink-purple: #d7b9d5;
  --pink: #f4cae0;
}

a {
  font-weight: 500;
}

#header {
  height: 50px;
  width: 100%;
  background-color: var(--pink-purple);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

#logo img {
  height: 45px;
}

#header-right {
  text-transform: uppercase;
  font-size: 16px;
}

#header-right a {
  color: white;
  margin-left: 10px;
  padding: 14px;
}

#header-right a:hover {
  background-color: white;
  color: var(--pink-purple);
  transition: 0.3s;
  text-decoration: none;
}

footer {
  height: 50px;
}

footer i {
  width: 40px;
  height: 40px;
}

#social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.container {
  margin-top: 50px;
}
