h1 {
  text-align: center;
  font-weight: 500;
}

#project-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  margin-top: 50px;
}

#left-column,
#right-column {
  width: 42%;
  flex-wrap: wrap;
}

#right-column {
  margin-top: 50px;
}

.project-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s ease;
  backface-visibility: hidden;
}

.project-overlay {
  transition: 0.3s ease;
  opacity: 0;
  position: relative;
  margin-top: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-container {
  margin-bottom: 100px;
}

.project-container:hover .project-img {
  opacity: 0.1;
}

.project-container:hover .project-overlay {
  opacity: 1;
}

.project-title {
  color: black;
  font-size: 2vw;
  font-weight: 500;
  margin-bottom: -10px;
}

.project-description {
  color: #6c6c6c;
  font-size: 1.5vw;
}
